<html>
<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        .page {
            background-color: forestgreen;
            color: white;
        }
        .overlay {
            color: black;
            text-align: center;
            width: 100%;
            padding-left: 100px;
            padding-right: 100px;
        }
        .canvas {
            width: 100%;
            text-align:center;
        }
        .h2 {
            float: left;
        }
    </style>
</head>
<body ng-app="app" class="page">
    <% include navbar%>

    <div class="container" ng-controller="GameController">

        <div class="canvas">

            <canvas id="FieldCanvas" width="200" height="200">
                Canvas Element Is Not Supported On Your Browser
            </canvas>
            <h2>Your Games</h2>
        </div>

        <div class="overlay" ng-show="showSelectedGame">
            <button class="btn btn-danger pull-right" ng-click="showSelectedGame = false">X</button>

        </div>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Watch</th><th>Game Message</th><th>Team 1</th><th>Team 2</th>
            </tr>
            </thead>
            <tbody ng-repeat="game in games">
                <!--<tr ng-click="showSelectedGame=true" ng-show="game.message">Test</tr>-->
                <tr ng-init="getGameMessage(game)" ng-click="showSelectedGame=true" >
                    <td><a href="/games/{{game.id}}"><button class="btn  btn-primary glyphicon glyphicon-play"></button></a></td>
                    <td>{{game.message}}</td>
                    <td>{{game.team1_id}}</td>
                    <td>{{game.team2_id}}</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success form-control" ng-click="showCreateGame = true">Create Game</button>

        <div class="overlay" ng-show="showCreateGame">
            <button class="btn btn-danger pull-right" ng-click="showCreateGame = false">X</button>
            <h2 class="form-signin-heading">Create Games</h2>
            <form class="form-group">
                <label for="myTeamSelect">Team 1</label>
                <br>
                <select id="myTeamSelect" class="form-control" ng-model="myTeamSelect">
                    <option ng-repeat="team in myTeams track by team.id" value="{{team.id}}">{{team.name}}</option>
                </select>
                <br>
                <label for="theirTeamSelect">Team 2</label>
                <br>
                <select id="theirTeamSelect" class="form-control" ng-model="theirTeamSelect">
                    <option ng-repeat="team in theirTeams track by team.id" value="{{team.id}}">{{team.name}}</option>
                </select>
                <br>
                <button class="btn btn-success" ng-click="createNewGame(myTeamSelect, theirTeamSelect); showCreateGame = false">Create Game</button>
            </form>
        </div>
    </div>

</body>

<script>
    var canvas = document.getElementById("FieldCanvas");
    var ctx = canvas.getContext("2d");

    var width = 200;
    var height = 200;

    var base1_filled = false;
    var base2_filled = false;
    var base3_filled = false;
    var base4_filled = false;

    //Draw Grass
    ctx.fillStyle = "green";
    ctx.fillRect(0,0,width,height);

    //Draw Field
    ctx.translate(width/2, height/2);
    ctx.rotate(45*Math.PI/180);
    ctx.translate(-width/2, -height/2);
    ctx.fillStyle = "brown";
    ctx.rect(width/5, height/5, width/2, height/2);
    //Draw Bases
    if(base1_filled){
        ctx.fillStyle = "grey";
    }else{
        ctx.fillStyle = "brown";
    }
    ctx.fillRect(width/5, height/5, width*(25/500), height*(25/500));

    if(base2_filled){
        ctx.fillStyle = "grey";
    }else{
        ctx.fillStyle = "brown";
    }
    ctx.fillRect(width*(325/500), height*(325/500), width*(25/500), height*(25/500));

    if(base3_filled){
        ctx.fillStyle = "grey";
    }else{
        ctx.fillStyle = "brown";
    }
    ctx.fillRect(width*(325/500), height/5, width*(25/500), height*(25/500));

    if(base4_filled){
        ctx.fillStyle = "grey";
    }else{
        ctx.fillStyle = "brown";
    }
    ctx.fillRect(width/5, height*(325/500), width*(25/500), height*(25/500));
    ctx.stroke();
</script>

<script src="jquery/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="angular/angular.min.js"></script>
<script src="angular-cookies/angular-cookies.min.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/service/UserTokenFactory.js"></script>
<script src="javascripts/service/UserService.js"></script>
<script src="javascripts/service/GameService.js"></script>
<script src="javascripts/service/TeamService.js"></script>
<script src="javascripts/service/PlayerService.js"></script>
<script src="javascripts/controller/ConsoleController.js"></script>
<script src="javascripts/service/ApprovalService.js"></script>
<script src="javascripts/controller/NavbarController.js"></script>
<script src="javascripts/controller/TeamController.js"></script>
<script src="javascripts/controller/GameController.js"></script>
</html>