<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BaseballSim</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/console">Home</a></li>
                <li><a href="/teams">My Teams</a></li>
                <li><a href="/games">My Games</a></li>
                <li><a href="#about">About</a></li>

            </ul>
            <% if(loggedIn == true){ %>
                <ul class="nav navbar-nav pull-right">
                    <li><a>Welcome {{userdata.username}}!</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            <%}
            %>
        </div><!--/.nav-collapse -->
    </div>
</nav>