<html>
<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        .page {
            background-color: forestgreen;
        }
        .bases {
            float: right;
            color: white;
        }
        .container {
            text-align:center;
            color: white;
        }
        .scroll-view {
        }
        .lineups {
            color: black;
            height: 50%;
        }
        .count {
            color: white;
            background-color: white;
        }
        .scoreboard {
            background-color: white;
            margin-left: 20%;
            margin-right: 20%;
        }
        .container-fluid {

        }
        .centered {

        }
    </style>
</head>
<body ng-app="app" class="page">
<% include navbar %>

<div class="container" ng-controller="PlayGameController">

    <div class="row">
        <div class="col-sm-12">
            <!-- <strong>Team at Bat: {{team_at_bat}}</strong> -->
            <BR>
            <div class="scoreboard">
                <!--<h2>Team 1: {{team1_score}}</h2>-->
                <!--<h2>Team 2: {{team2_score}}</h2>-->
                <table class="table table-condensed">
                    <tr>
                        <td>Inning</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>Score</td>

                    </tr>
                    <tr><th>Team 1</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>{{team1_score}}</td>

                    </tr>
                    <tr><th>Team 2</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>{{team2_score}}</td>
                    </tr>
                </table>
            </div>


            <div class="container-fluid">
                <div class="count col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <table class="table table-condensed">
                        <tr><th>Balls: </th><td>{{balls}}</td></tr>
                        <tr><th>Strikes: </th><td>{{strikes}}</td></tr>
                        <tr><th>Outs: </th><td>{{outs}}</td></tr>
                        <tr><th>Pitcher Name: </th><td>Pitcher</td></tr>
                        <tr><th>Last Play: </th><td>{{event.type}}</td></tr>
                    </table>
                </div>
                <div class="gameScreen">
                    <div class="centered">
                        <game-view-directive data-gameid="id">The Canvas Is Not Supported!</game-view-directive>
                        <BR>

                    </div>
                    <div class="action">
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <button type="button" class="btn btn-success">Substitution</button>
                            <button type="button" class="btn btn-success">Toggle Auto Run</button>
                            <button class="btn btn-success" ng-show="showNextButton" ng-click="nextGameEvent()">Next Game Action</button>
                        </div>
                    </div>
                </div>
                <br>
                <!--<div class="lineups col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                    <!--<table class="table table-condensed">-->
                        <!--<tr><th>Player Name</th></tr>-->
                        <!--<tr ng-repeat="player in lineup" ng-class="{active : player.already_played == false}">-->
                            <!--<td>{{player.id}}</td>-->
                            <!--<td>{{player.name}}</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div class="bases">-->
                    <!--<strong>{{player_positions.onfirst_id}} - 1st</strong>-->
                    <!--<BR>-->
                    <!--<strong>{{player_positions.onsecond_id}} - 2nd</strong>-->
                    <!--<BR>-->
                    <!--<strong>{{player_positions.onthird_id}} - 3rd</strong>-->
                <!--</div>-->
            </div>


        </div>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="scroll-view">
                <button class="btn btn-success form-control" ng-show="gameEvents.length == 0" ng-click="startGame()">Start Game</button> <!-- ng-show="gameEvents.length == 0" -->
                <div class="alert alert-success" ng-repeat="event in gameEvents">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">{{event.type}}</span>
                        <div class="well well-lg">{{event.message}}</div>
                    </div>
                    <!--{{event.type}} {{event.message}}-->
                    Team 1 Score: {{event.team1_score}}
                    Balls: {{event.balls}}
                    Strikes: {{event.strikes}}

                    <br>
                    Team 2 Score: {{event.team2_score}}
                    Outs: {{event.outs}}
                    Inning: {{event.inning}}
                </div>
            </div>
        </div>
    </div>

    <!-- strike ball foul single double triple home_run out-->

    <!-- TEST
    {{opts}} -->

</div>
</body>

<% include footer%>
<script src="jquery/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="angular/angular.min.js"></script>
<script src="angular-cookies/angular-cookies.min.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/service/UserTokenFactory.js"></script>
<script src="javascripts/service/UserService.js"></script>
<script src="javascripts/service/GameService.js"></script>
<script src="javascripts/service/TeamService.js"></script>
<script src="javascripts/service/PlayerService.js"></script>
<script src="javascripts/controller/ConsoleController.js"></script>
<script src="javascripts/service/ApprovalService.js"></script>
<script src="javascripts/controller/NavbarController.js"></script>
<script src="javascripts/controller/TeamController.js"></script>
<script src="javascripts/controller/GameController.js"></script>
</html>