<html>
<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body ng-app="app">
<% include navbar %>

<div class="container" ng-controller="PlayGameController">

    <div class="row">
        <div class="col-sm-4">
            <strong>Team 1: {{team1_score}}</strong>
            <strong>Team 2: {{team2_score}}</strong>
            <BR>
            <strong>Balls: {{balls}}</strong>
            <strong>Strikes: {{strikes}}</strong>
            <strong>Outs: {{outs}}</strong>
            <BR>
            <game-view-directive>The Canvas Is Not Supported!</game-view-directive>
            <button class="btn btn-success" ng-show="showNextButton" ng-click="nextGameEvent()">Next Game Action</button>

            <table class="table table-condensed">
                <tr><th>Player Name</th></tr>
                <tr ng-repeat="player in lineup" ng-class="{active : player.already_played == false}"><td>{{player.player_id}}</td></tr>
            </table>

        </div>
        <div class="col-sm-8">
            <div class="scroll-view">
                <button class="btn btn-success form-control" ng-show="gameEvents.length == 0" ng-click="startGame()">Start Game</button>
                <div class="alert alert-success" ng-repeat="event in gameEvents">
                    {{event.type}} {{event.message}}
                    Team 1 Score: {{event.team1_score}} Team 2 Score: {{event.team2_score}}
                    Balls: {{event.balls}}
                    Strikes: {{event.strikes}}
                    Outs: {{event.outs}}
                </div>
            </div>
        </div>
    </div>


</div>
</body>

<% include footer%>
</html>