<html>
<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body ng-app="app">
<% include navbar %>

<div class="container" ng-controller="ReplayController">

    <div class="row">
        <button class="btn btn-success form-control" ng-click="playNextStep()">Play Next Step</button>
        <table class="table table-condensed table-striped">
            <tr><th>Message</th><th>Team 1 Score</th><th>Team 2 Score</th></tr>
            <tr ng-repeat="action in stepsPlayed">
                <td>{{action.message}}</td>
                <td>{{action.team1_score}}</td>
                <td>{{action.team2_score}}</td>
            </tr>
        </table>
        <!--{{gameEvents}}-->
    </div>

</div>
</body>


<% include footer%>
</html>