body {
  padding-top: 50px;
}

.inner-container {
  padding: 40px 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.inner-container .display-box{
  display: block;
  width: 100px;
  height: 100px;
  background: cornflowerblue;
  margin: 10px 10px 10px 10px;
}

.inner-container .display-box:hover{
  border: black solid 1px;
  font-size: 1.2em;
}

.display-box.big-display-box ul{
  list-style: none;
  padding-left: 0px;
}

.table{
  width: 100%;
}

.display-rect{
  width: 100%;
}


.selected{
  border: red solid 1px;
  font-size: 1.3em;

  word-wrap: break-word;
}